@charset "UTF-8";

@font-face {
  font-family: 'websymbols';
  src: url('websymbols.eot');
  src: url('websymbols.eot?#iefix') format('embedded-opentype'),
       url('websymbols.woff') format('woff'),
       url('websymbols.ttf') format('truetype'),
       url('websymbols.svg#websymbols') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: websymbols;
  font-style: normal;

  /* font-size: 14px; */

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.icon-search:before { content: "🔍"; } /* '\1f50d' */
.icon-mail:before { content: "✉"; } /* '\2709' */
.icon-heart:before { content: "♥"; } /* '\2665' */
.icon-heart-empty:before { content: "♡"; } /* '\2661' */
.icon-star:before { content: "★"; } /* '\2605' */
.icon-user:before { content: "👤"; } /* '\1f464' */
.icon-video:before { content: "🎬"; } /* '\1f3ac' */
.icon-picture:before { content: "🌄"; } /* '\1f304' */
.icon-th-large:before { content: ""; } /* '\e708' */
.icon-th:before { content: "⚏"; } /* '\268f' */
.icon-th-list:before { content: "☰"; } /* '\2630' */
.icon-ok:before { content: "✓"; } /* '\2713' */
.icon-ok-circle:before { content: "✔"; } /* '\2714' */
.icon-cancel:before { content: "✕"; } /* '\2715' */
.icon-cancel-circle:before { content: "✖"; } /* '\2716' */
.icon-plus-circle:before { content: "➕"; } /* '\2795' */
.icon-minus-circle:before { content: "➖"; } /* '\2796' */
.icon-link:before { content: "🔗"; } /* '\1f517' */
.icon-attach:before { content: "📎"; } /* '\1f4ce' */
.icon-lock:before { content: "🔒"; } /* '\1f512' */
.icon-lock-open:before { content: "🔓"; } /* '\1f513' */
.icon-tag:before { content: ""; } /* '\e70c' */
.icon-reply:before { content: ""; } /* '\e712' */
.icon-reply-all:before { content: ""; } /* '\e713' */
.icon-forward:before { content: "➦"; } /* '\27a6' */
.icon-code:before { content: ""; } /* '\e714' */
.icon-retweet:before { content: ""; } /* '\e717' */
.icon-comment:before { content: ""; } /* '\e718' */
.icon-comment-alt:before { content: ""; } /* '\e71a' */
.icon-chat:before { content: ""; } /* '\e720' */
.icon-attention:before { content: "⚠"; } /* '\26a0' */
.icon-location:before { content: ""; } /* '\e724' */
.icon-doc:before { content: ""; } /* '\e730' */
.icon-docs-landscape:before { content: ""; } /* '\e737' */
.icon-folder:before { content: "📁"; } /* '\1f4c1' */
.icon-archive:before { content: ""; } /* '\e738' */
.icon-rss:before { content: ""; } /* '\e73a' */
.icon-rss-alt:before { content: ""; } /* '\e73b' */
.icon-cog:before { content: "⚙"; } /* '\2699' */
.icon-logout:before { content: ""; } /* '\e741' */
.icon-clock:before { content: "🕔"; } /* '\1f554' */
.icon-block:before { content: "🚫"; } /* '\1f6ab' */
.icon-resize-full:before { content: ""; } /* '\e744' */
.icon-resize-full-circle:before { content: ""; } /* '\e7a6' */
.icon-popup:before { content: ""; } /* '\e74c' */
.icon-left-open:before { content: ""; } /* '\e75d' */
.icon-right-open:before { content: ""; } /* '\e75e' */
.icon-down-circle:before { content: ""; } /* '\e4a4' */
.icon-left-circle:before { content: ""; } /* '\e4a1' */
.icon-right-circle:before { content: ""; } /* '\e4a2' */
.icon-up-circle:before { content: ""; } /* '\e4a3' */
.icon-down-dir:before { content: "▾"; } /* '\25be' */
.icon-right-dir:before { content: "▸"; } /* '\25b8' */
.icon-down-micro:before { content: ""; } /* '\e7a7' */
.icon-up-micro:before { content: ""; } /* '\e7a8' */
.icon-cw-circle:before { content: ""; } /* '\e7a9' */
.icon-arrows-cw:before { content: ""; } /* '\e760' */
.icon-updown-circle:before { content: ""; } /* '\e7aa' */
.icon-target:before { content: "🎯"; } /* '\1f3af' */
.icon-signal:before { content: "📶"; } /* '\1f4f6' */
.icon-progress:before { content: ""; } /* '\e7ab' */
.icon-font:before { content: ""; } /* '\e779' */
.icon-list:before { content: ""; } /* '\e782' */
.icon-list-numbered:before { content: ""; } /* '\e7ad' */
.icon-indent-left:before { content: ""; } /* '\e783' */
.icon-indent-right:before { content: ""; } /* '\e784' */
.icon-cloud:before { content: "☁"; } /* '\2601' */
.icon-terminal:before { content: ""; } /* '\e7ac' */
.icon-facebook-rect:before { content: ""; } /* '\f301' */
.icon-twitter-bird:before { content: ""; } /* '\f303' */
.icon-vimeo-rect:before { content: ""; } /* '\f30e' */
.icon-tumblr-rect:before { content: ""; } /* '\f310' */
.icon-googleplus-rect:before { content: ""; } /* '\f309' */
.icon-linkedin-rect:before { content: ""; } /* '\f312' */
.icon-skype:before { content: ""; } /* '\f30b' */
.icon-vkontakte-rect:before { content: ""; } /* '\f30a' */
.icon-youtube:before { content: ""; } /* '\f313' */
.icon-odnoklassniki-rect:before { content: ""; } /* '\f30d' */

